<div class="pl-60 pr-60 pb-30">
    <h2 class="pt-30 pb-10 underline">Téléchargements</h2>
    <div class="flex gap-10 direct-column">
        <div class="column">
            <h5>En cours</h5>
            <div class="listDls flex gap-10 direct-column">
                <span class="nothing text-center pt-30 pb-30 text-gray">
                    Aucun téléchargements en cours
                </span>
            </div>
        </div>
        <div class="column">
            <h5>Terminés</h5>
            <div class="endListDls flex gap-10 direct-column">
                <span class="nothing text-center pt-30 pb-30 text-gray">
                    Aucun téléchargements en terminés
                </span>
            </div>
        </div>
    </div>
</div>
<script>
    var Downloads = require('../js/connected/downloads.js');
    var downloads = new Downloads();
</script>