<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/notyf.min.css">
    </head>
    <body>
        <br><br><br><br>
        <img src="../../img/icons/icon.png" style="display:block;margin:0 auto;width:100px;">
        <div class="text-center"><br><br>
            <label for="download" class="text-white" id="download-label">Mise à jour</label><br>
            <progress id="downloadbar"  max="100" value="-1"></progress>
        </div>
        <div id="footer">
            <p class="text-center copyversion" id="copyversion">© 2021 FrazionZ - Version {VERSION_PROD}</p>
        </div>
        <script src="../../js/notyf.min.js"></script>
        <script>
            var notyf = new Notyf();
            var copyverion = document.getElementById('copyversion');
            copyverion.innerHTML = copyverion.innerHTML.replace('{VERSION_PROD}', require('../../../package.json').version);
        </script>
        <script src="../../js/updater.js"></script>
    </body>
</html>