<div class="content-child">
    <h2 class="pl-60 pt-30 pb-10 pr-60 underline">Actualités</h2>
    <template id="newCardList" class="flex align-center pt-10 pb-10 pr-30 pl-30 gap-20" style="width:100%;overflow-x: hidden;">
        <div class="column w-100">
            <div class="card news" target_news="">
                <div class="blur">
                    <div class="card-body">
                        <div class="flex justif-between align-center w-100">
                            <div class="column">
                                <h3 id="title_label" class="text-white" style="margin: 0;text-align: left;"></h3>
                                <h3 id="author_label" class="text-white" style="margin: 0;text-align: left;"></h3>
                            </div>
                            <div class="column">
                                <a href="#news" class="btn moreView btn-primary hide">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <h2 class="pl-60 pt-30 pb-10 pr-60 underline">DevLog</h2>
    <div class="card ml-20 mr-20 mb-30">
        <div class="card-body">
            <div id="versions" class=" flex direct-column" style="overflow: auto;height: 25rem;"></div>
        </div>
    </div>
</div>
<script>
    var Home = require('../js/connected/home.js');
    var home = new Home();
    home.loadHome();
</script>