<div class="news flex gap-15 direct-column">
    <h2 class="underline"><%= FZUtils.getLangKey("server.news.title") %></h2>
    <template id="news_list" class="row">
        <div class="col-sm-5">
            <div class="card news black-4" style="border: none;">
                <div class="card-body reset-mp">
                    <div class="flex direct-column">
                        <div class="column">
                            <div id="news__thumbnail" class="thumb w-100"></div>
                        </div>
                        <div class="infos-col direct-column">
                            <span id="news__title"></span>
                            <div class="news__body hide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
<script>
    var appRoot = require('app-root-path');
    const News = require(path.join(appRoot.path, "/src/assets/js/connected/server/subpage/news.js"))
    var news = new News();
</script>