<div class="modal fade" id="changelog" tabindex="-1">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div style="height: 100vh;border-radius: 0;padding-bottom: 60px;" class="modal-content flex direct-column">
        <div class="modal-header">
          <h5 class="modal-title">
            <button type="button" style="-webkit-app-region: no-drag;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </h5>
        </div>
        <div class="modal-body flex direct-column justif-center gap-10">
          <h2>Quoi de neuf ?</h2>
          <div id="versions" style="overflow: auto;height: 25rem;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $.get('https://api.frazionz.net/github/launcher', function(response) {
      var loadPnotes = new Promise((resolve, reject) => {
        var versions = response;
        var MarkdownIt = require('markdown-it'),
        md = new MarkdownIt();
        var bodyVersion = md.render(versions[0].body);
        $('#changelog').find('#versions').append('<h4 class="text-gray">'+versions[0].tag_name+'</h4>'+'<h5>'+bodyVersion+'</h5><br />')
        resolve();
      })

      loadPnotes.then(() => {
        $("body").find("#modals").find("#changelog").modal('show');
      })
    })
</script>