<div class="modal fade" id="changelog" tabindex="-1">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div style="height: 100vh;border-radius: 0;margin-top: 60px;padding-bottom: 60px;" class="modal-content flex direct-column">
        <div class="modal-header">
          <h5 class="modal-title">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </h5>
        </div>
        <div class="modal-body flex direct-column justif-center gap-10">
          <h2>Quoi de neuf ?</h2>
          <div id="versions" style="overflow: auto;height: 25rem;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    var modal = new bootstrap.Modal(document.getElementById('changelog'), {
        keyboard: false
    })
    axios.get('https://api.frazionz.net/github/launcher')
    .then(function (response) {
      var versions = response.data;
      versions.forEach((version) => {
        $('#changelog').find('#versions').append('<h4 class="text-gray">'+version.tag_name+'</h4>'+
        '<h5>'+version.body+'</h5><br />')
      })
    })
    .catch(function (error) {
      console.log(error);
    });
    modal.show();
</script>