<div class="modal fade" id="download" data-bs-backdrop="static" tabindex="-1">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-body flex align-center gap-30" style="width: 100%;padding: 1rem;width: 100%;padding: 1rem 1rem;">
          <div class="loader-coffee"></div>
          <div class="flex direct-column">
            <div class="column">
              <h6 style="padding: 0;margin: 0;"  id="title_download">Démarrage</h6>
            </div>
            <div class="column">
              <span style="color: gray;font-size: 0.8em;display: block;" id="state_download"> Nous chargeons les données.. </span>
            </div>
          </div>
        </div>
        <div id="downloadbar"></div>
      </div>
    </div>
  </div>
</div>