@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('asset://fonts/Comfortaa-Bold.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --var-color-primary: #E48515;
    --color-gradient-primary: linear-gradient(to right, #E65200 0%, #FFA800 100%);
    --var-color-primary-50opa: rgba(226 121 6 / 50%);
    --sidebar-color: #282828;
    --primary-color-light: #e278067c;
    --toggle-color: #DDD;
    --text-color: rgba(255, 255, 255, 0.03);

    --color-1: #F1B53F;
    --color-2: #E48515;
    --color-3: #DF5D14;
    --black-1: #24262B;
    --black-2: #1C1F23;
    --black-3: #15171B;
    --black-4: #0E1014;
    --color-red: #981503;
    --color-blue: #0FA0B4;
    --text: #F5F5F5;
    --text-inactive: #7C7C7C;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(asset://fonts/comfortaa.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(asset://fonts/Poppins.woff2) format('woff2');
}
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 300;
    src: url(asset://fonts/Pacifico.woff2);
}
* {
    cursor: default;
}
body {
    background-color: var(--black-4);
    font-family: Comfortaa-Bold !important;
    overflow-y: hidden;
    overflow-x: hidden;
}
.title_bar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: var(--black-4);
}
.title_bar .beta {
    font-family: 'Comfortaa';
    font-size: 14px;
    margin-left: 8px;
}
.title_bar .icon {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 15px;
    height: 80px;
}
.title_bar .icon h4 {
    font-size: 26px;
    margin: 0;
    font-family: Poppins;
}
.title_bar .actions {
    display: flex;
    align-items: center;
    gap: 0px;
    height: 60px;
    -webkit-app-region: no-drag;
}
.title_bar .actions .window_reduce {
    padding: 15.5px;
    width: 60px;
    height: 60px;
}
.title_bar .actions .window_close {
    padding: 15.5px;
    width: 60px;
    height: 60px;
}
.title_bar .actions .window_reduce:hover {
    background: var(--black-2);
}
.title_bar .actions .window_close:hover {
    background: #D72F2F;
}
.title_bar .navigation {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}
.title_bar .navigation a {
    font-size: 26px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    position: relative;
    margin: 0px 30px;
    font-family: Poppins;
}
.title_bar .navigation a:after {
    content: '';
    height: 5px;
    background: var(--color-2);
    border-radius: 5px;
    width: 0px;
    transition: 0.2s all ease-in-out;
    position: absolute;
    bottom: -1.249rem;
}
.title_bar .navigation a:hover:after {
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-2);
    border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.text-left {
    text-align: left;
}
main {
    height: 100%;
}
.font-pacifico {
    font-family: 'Pacifico';
}
.login {
    margin: 0em 0em 6em;
    color: white;
    height: calc(100vh - 10.9em);
}
.login .head h2,h3 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 3rem;
}
.login .head h3 {
    color: gray;
    font-size: 1.08rem;
}
.login .profilesList {
    margin: 0em 0em;
}
.login .profilesList .card.sub h3 {
    margin: 0;
    font-size: 1.08rem;
    text-align: left;
}
.login .btn-add-account {
    color: white;
    text-decoration: none;
    border-radius: 0.5em;
    width: 100%;
}
.login .btn-add-account:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.login .skinFz {
    position: relative;
    left: -17px;
}
.login .profileCard {
    border-radius: 2em;
    transition: var(--tran-03);
}
.login .profileCard:hover {
    background: var(--var-color-primary) !important;
}
.logging {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    gap: 5rem;
    margin-top: 8rem;
}
.logging .avatar .spinner-border{
    width: 120px;
    height: 120px;
    position: absolute;
}
.logging .avatar img{
    width: 120px;
    border-radius: 4em;
    margin-bottom: 20px;
}
.logging h4,
.logging h6 {
    margin: 0;
}
.logging .logging_span {
    color: #565656;
}
main .row {
    height: 100vh;
}
.underline {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 15px;
    color: white;
}
.underline::before {
    content: '';
    left: 0;
    width: 6px;
    background: var(--color-2);
    height: 2.2rem;
    border-radius: 11px;
    position: relative;
    bottom: 3px;
}
.badge {
    color: white;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 8px;
}
.badge.dl {
    padding: 0.2rem 0.6rem 0.2rem !important;
    font-size: 18px !important;
    background: var(--color-3) !important;
    position: absolute;
    left: 21px;
    border-radius: 2rem;
    bottom: -10px;
    font-family: 'Comfortaa';
}
.main .content-child {
    overflow-y: overlay;
    height: calc(100vh - 6.3rem);
    width: 100%;
}
.body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.body .sidebar {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 330px;
    background: var(--black-4);
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
}
  
.body .main.connected {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background: var(--black-3);
    border-top-left-radius: 15px;
}

.login-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.login-flex .form {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background: var(--black-4);
    padding: 15px 15px 35px;
    flex-direction: column;
    justify-content: flex-start;
    width: 460px;
}

input {
    cursor: auto;
    background: var(--black-2);
    outline: none;
    border: none;
    border-radius: 8px;
    height: 52px;
    width: 100%;
    padding: 0px 20px;
}
  
.login-flex .infos {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background: var(--black-3);
    border-top-left-radius: 15px;
}
.sidebar #servers, .sidebar #navs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sidebar .parent-menu-link {
    justify-content: flex-start;
    padding: 0px 30px;
    list-style: none;
    transition: 0.2s all ease-in-out;
    border-radius: 8px;
    font-size: 16px;
    height: 60px;
    align-items: center;
    display: flex;
}
.sidebar .parent-menu-link.active {
    background: var(--black-2);
}
.sidebar .parent-menu-link:hover {
    background: var(--black-2);
}
.sidebar .parent-menu-link:hover a {
    color: white;
}
.sidebar #nav_menu_avatar {
    border-radius: 5px;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    max-height: 35px;
    background-color: var(--black-1);
    color: white;
    padding: 10px;
}
#footer p {
    font-size: 10px;
    color: #808080;
}
#footer p.copyversion {
    text-align: left;
}
#footer p.credits {
    text-align: right;
}
#footer.homePadding {
    display: none;
}
.dropdown-menu {
    width: 100%;
    background: var(--black-2);
    border: none;
    box-shadow: 1px 0px 3px black;
    padding: 8px !important;
}
.dropdown-menu li a.dropdown-item.active {
    color: #fafafa;
    background-color: var(--color-2);
}
.dropdown-menu li {
    margin: 0 !important;
}
.dropdown-menu-dark .dropdown-item {
    color: white;
}
.dropdown-toggle::after {
    display: none !important;
}
.container-after-titlebar {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
.modal#download .modal-content #downloadbar {
    position: absolute;
    outline: none;
    bottom: -4px;
    height: 7px;
    background: var(--color-2);
    border-radius: 0rem 0 0.3rem 0.3rem;
    z-index: -1;
    max-width: 100%;
}
/* Sidebar */
nav .menu{
    display: flex;
}
nav .menu .image-text img {
    width: 64px;
    height: 64px;
}
.menu-link {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 30px;
    font-size: 16px;
    align-items: center;
    position: relative;
    font-weight: 400;
    font-family: 'Comfortaa';
}
.header-text .name {
    font-weight: 900;
    color: white;
}
.header-text .profession {
    margin-top: -2px;
}
.menu-link li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.2s all ease-in-out;
}
.menu-link li a::after {
    content: '';
    display: flex;
    height: 5px;
    background: var(--color-2);
    width: auto;
    border-radius: 5px;
    width: 0px;
    position: absolute;
    bottom: -0.45rem;
    transition: 0.2s all ease-in-out;
}
.menu-link li a.active::after {
    width: 100%;
}
.menu-link li a:hover:after {
    width: 100%;
}
#header {
    background: rgb(14,16,20);
    background: linear-gradient(180deg, rgba(14,16,20,1) 20%, rgba(36,38,43) 100%);
}
#dropdownProfilMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    color: white;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}
#dropdownProfilMenu .avatar {
    border-radius: 5px;
    width: 36px;
    cursor: pointer;
}
#dropdownProfilMenu .userFields {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-end;
}
#dropdownProfilMenu .userFields span {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Comfortaa';
}
#top {
    color: white;
    font-size: 2em;
    padding: 1em 2em;
    background: #101010;
    width: 100%;
}
.modal#login .modal-content {
    max-width: none;
    width: fit-content;
}
.modal#login .modal-body {
    padding: 0;
}
.modal#login #addAccountForm {
    margin: 0;
    width: 36rem;
    max-width: none;
}
.main.connected{
    background: url('../img/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.btn i{
    cursor: pointer;
}
.btn.btn-primary{
    background-color: var(--color-2);
    border: none;
}
.btn.btn-primary.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.btn.btn-primary.icon i {
    font-size: 1.2em;
}
.btn.btn-primary:hover{
    background-color: var(--var-color-primary);
    border-color: var(--var-color-primary);
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--var-color-primary-50opa) !important;
}
#profilemenu .modal-body{
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
#profilemenu .modal-body ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#profilemenu .modal-body ul li{
    list-style: none;
}
#profilemenu .modal-body ul,
#profilemenu .modal-body ul li,
#profilemenu .modal-body ul li .btn{
    width: 100%;
}
.tabsFZ {
    width: 100%;
    background: var(--color-gradient-primary);
    padding: 10px;
}
ul.tabsFZ {
    gap: 10px;
}
ul.tabsFZ li {
    list-style: none;
}
ul.tabsFZ li {
    text-decoration: none;
    color: white;
    border-radius: 0.25rem;
    transition: var(--tran-03);
}
ul.tabsFZ li button {
    text-decoration: none;
    color: white;
}
ul.tabsFZ li button.nav-link.active {
    background: rgba(0, 0, 0, 0.6);
}
ul.tabsFZ li button.nav-link:hover {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}
option[disabled] {
    background: rgb(84 84 84);
}
.card {
    background: var(--black-3);
    border: none;
    border-radius: 15px;
    padding: 15px;
}
.card .card-body {
    padding: 0;
}
.card.sub {
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
    transition: var(--tran-02);
}
.card.sub:hover {
    background-color: var(--black-2);
}
.card.group.setting .card.setting {
    border:none;
    border-radius: 0;
    border-bottom: 1px solid #3c3c3c;
}
.card.group.setting .card.setting:last-child {
    border-bottom: none;
}
.card.news.active {
    width: 45rem;
    height: 20rem;
}
.card.news {
    width: 30rem;
    height: 15rem;
    background-position: center;
    padding: 0;
    border-radius: 15px;
    transition: 0.2s all ease-in-out;
}
.card.news .blur {
    backdrop-filter: blur(3px);
    border-radius: 15px;
    height: 100%;
}
.card.news .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 15px;
    backdrop-filter: blur(5px);
    height: 100%;
    justify-content: flex-end;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.92) 100%);
}
.card.news .card-body #title_label {
    margin: 0;
    font-size: 2rem;
}
.card.news .card-body #author_label {
    margin: 0;
    font-size: 1rem;
    color: gray !important;
}
.card.setting {
    background: var(--sidebar-color);
}
.card.setting .card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.card.setting .explication {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card.setting .explication .icon {
    font-size: 3em;
    display: flex;
}
.card.setting .explication .text h1,
.card.setting .explication .text h2,
.card.setting .explication .text h3,
.card.setting .explication .text h4,
.card.setting .explication .text h5,
.card.setting .explication .text h6 {
    margin: 0;
}
.card.setting .explication .text span {
    font-size: 0.8em;
    color: gray;
}
.btn-download-launch-game  {
    background: var(--color-2) !important;
    transition: var(--tran-03);
    border: 0px solid transparent !important;
    border-color: transparent;
    white-space: nowrap;
    width: fit-content;
    display: block;
    margin: 0 auto;
    font-family: 'Poppins';
    width: 233px;
    height: 60px;
    border-radius: 8px;
}
.btn-download-launch-game .label {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    display: block;
    font-size: 24px;
    cursor: pointer;
    text-overflow: ellipsis;
}
.btn-download-launch-game:hover  {
    box-shadow: 0 0 0 0.25rem transparent !important;
    background: var(--color-3) !important;
}
.btn-primary:hover  {
    box-shadow: 0 0 0 0.25rem transparent !important;
    background: var(--color-3) !important;
}
.btn-progress {
    padding: 0;
    border-color: transparent;
}
.btn-progress .content{
    margin: 14px 0;
    font-size: 1.4em;
    padding: 0em 1.2em;
}
.btn-progress .progress {
    height: 0.25rem;
    position: relative;
    display: none;
    top: 1px;
    width: auto;
    border-radius: 0rem 0rem 0.25rem 0.25rem !important;
}
.w-100 {
    width: 100% !important;
}
.h-100 {
    height: 100% !important;
}
.hide {
    display: none !important;
}
.flex {
    display: flex;
}
.direct-column {
    flex-direction: column;
}
.justif-center {
    justify-content: center;
}
.justif-between {
    justify-content: space-between;
}
.justif-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-36 {
    gap: 36px;
}
.gap-48 {
    gap: 48px;
}
.reset-mp {
    padding: 0;
    margin: 0;
}
.pl-10 {
    padding-left: 10px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.pl-30 {
    padding-left: 30px !important;
}
.pl-40 {
    padding-left: 40px !important;
}
.pl-60 {
    padding-left: 60px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.pr-20 {
    padding-right: 20px !important;
}
.pr-30 {
    padding-right: 30px !important;
}
.pr-40 {
    padding-right: 40px !important;
}
.pr-60 {
    padding-right: 60px !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-60 {
    padding-top: 60px !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pb-60 {
    padding-bottom: 60px !important;
}
.pd-8 {
    padding: 8px !important;
}
.pd-10 {
    padding: 10px !important;
}
.pd-15 {
    padding: 15px !important;
}
.pd-20 {
    padding: 20px !important;
}
.pd-30 {
    padding: 30px !important;
}
.pd-40 {
    padding: 40px !important;
}
.pd-60 {
    padding: 60px !important;
}
.ml-20 {
    margin-left: 20px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
.mb-80 {
    margin-bottom: 80px !important;
}
.d-block {
    display: block;
}
.m-reset {
    margin: 0 !important;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-80 {
    margin-top: 80px;
}
.text-red {
    color: rgb(219, 55, 55)important;
}
.text-green {
    color: rgb(34, 199, 34) !important;
}
.text-white {
    color: white !important;
}
.text-gray {
    color: var(--text-inactive) !important;
}
.text-24 {
    font-size: 24px;;
}
.black-1 {
    background: var(--black-1);
}
.black-2 {
    background: var(--black-2);
}
.black-3 {
    background: var(--black-3);
}
.black-4 {
    background: var(--black-4);
}
.color-1 {
    background: var(--color-1);
}
.color-2 {
    background: var(--color-2);
}
.color-3 {
    background: var(--color-3);
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.server.index {
    border-top-left-radius: 15px;
}
.server .infos {
    width: 38rem;
}
.server .infos .server__version {
    font-size: 10.5px;
    margin-top: 8px;
    color: var(--text-inactive);
}
.server .infos .server__description {
    font-size: 14px;
}
.server .head {
    background: url(asset://img/wallpaper.png);
    background-position-y: -2.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 15px;
}
.server .menu {
    padding: 0;
    display: flex;
    gap: 10px;
    position: relative;
    margin: 3rem 0;
    background: var(--black-4);
    padding: 15px;
    border-radius: 15px;
}
.server .menu:after {
    height: 10px;
    width: 100%;
    position: absolute;
    background: var(--color-2);
    bottom: -20px;
}
.server .menu li {
    list-style: none;
    padding: 0;
    border-radius: 8px;
    transition: 0.2s all ease-in-out;
}
.server .menu li a {
    color: white;
    padding: 16px 26px;
    text-decoration: none;
}
.server .menu li a.active {
    border-radius: 8px;
    background-color: var(--black-2);
}
.server .menu li:hover {
    background-color: var(--black-2);
}
.server .pnotes .card {
    border-radius: 15px;
}
.server .pnotes .card .type {
    color: white;
    font-size: 20px;
}
.server .pnotes .card .fields {
    margin: 0;
}
.server .rpack .card {
    border-radius: 15px;
}
.server .card.rpack img.icon {
    border-radius: 8px;
    width: 100px;
}
.server .card.rpack #rpack__name {
    font-size: 20px;
    line-height: 22px;
}
.server .card.rpack #rpack__description {
    font-size: 16px;
    line-height: 18px;
}
.server .card.rpack #rpack__author {
    font-size: 16px;
    line-height: 18px;
}
.server .card.rpack #rpack__action.download {
    background: var(--color-2);
    white-space: nowrap;
}
.server .card.rpack #rpack__action.delete {
    background: var(--color-red);
    white-space: nowrap;
}
.server .card.rpack #rpack__action.update {
    background: var(--color-blue);
    white-space: nowrap;
}
.config .card {
    background: var(--black-4);
    border-radius: 15px;
}
.config .card .label__config {
    font-size: 20px;
    margin: 0;
}
.config .card .expl__config {
    font-size: 16px;
    color: var(--text-inactive);
    margin: 0;
}
.config .config-item {
    display: flex;
    justify-content: space-between;
}
.config .settings_number {
    width: 8rem;
}
.config .btn {
    height: 48px;
}
.config input.format {
    height: 48px;
}
.profile .infos {
    font-size: 16px;
    display: flex;
    gap: 10px;
    position: relative;
    top: 2.5px;
}
.dl-items .infos .title {
    margin: 0;
    font-size: 24px;
}
.dl-items .infos .subtitle {
    font-size: 14px;
    color: var(--text-inactive);
}
.dl-items .percent {
    font-size: 26px;
}
/*
.download {
    position: absolute;
    bottom: 15px;
    left: 280px;
    width: calc(100% - 297px);
    display: none;
}
.download .card {
    background: var(--black-4);
    border-radius: 15px;
}
.download .card #title {
    font-size: 18px;
}
.download .card #subtitle {
    font-size: 8px;
    color: var(--text-inactive);
    margin-bottom: 6px;
}
.download .card #progress {
    height: 5px;
    background: var(--color-2);
    border-radius: 15px;
    width: 0%;
}*/
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 23px;
    height: 23px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.loader-coffee {
    width: 38px;
    height: 30px;
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 15% 15% 35% 35%;
    top: 0.35rem;
}
.loader-coffee::after {
    content: '';
    position: absolute;
    left: 36px;
    top: 3px;
    border: 4px solid #fff;
    width: 16px;
    height: 20px;
    border-radius: 0 4px 4px 0;
}
.loader-coffee::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    color: #fff;
    top: -14px;
    left: 7px;
    animation: animloader92 1s ease infinite;
}
@keyframes animloader92 {
    0% {
        box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
   }
    50% {
        box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
   }
    100% {
        box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
   }
}
.loader-3 {
    width: 28px;
    height: 28px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation 1s linear infinite;
}
.loader-3:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: var(--color-2);
}
.loader-26 {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10rem;
}
.loader-26::after, .loader-26::before {
    content: '';
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader14 0.5s linear infinite;
}
.loader-26::after {
    animation-delay: 1s;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
@keyframes animloader14 {
    0% {
        transform: scale(0);
        opacity: 1;
   }
    100% {
        transform: scale(1);
        opacity: 0;
   }
}
.file-upload {
    width: 100%;
    height: 52px;
    font-size: 18px;
    display: block;
    background: var(--black-2);
    border: none;
    border-radius: 8px;
    padding: 0.9rem 1rem;
    color: white;
    align-items: center;
    line-height: 25px;
}
.file-upload input {
    display: none;
}
.ui.checkbox {
    line-height: 26px !important;
}
.ui.radio.checkbox .box, .ui.radio.checkbox label {
    padding-left: 28px;
    padding-top: 3px;
}
.ui.radio.checkbox input:checked~.box:before, .ui.radio.checkbox input:checked~label:before {
    background-color: var(--color-2) !important;
    border: none !important;
}
.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before {
    content: "";
    width: 26px !important;
    height: 26px !important;
}
.ui.checkbox .box:before, .ui.checkbox label:before {
    content: "";
    background-color: var(--black-2) !important;
    border: none !important;
}
.ui.radio.checkbox input:checked~.box:after, .ui.radio.checkbox input:checked~label:after {
    background-color: rgb(255 255 255 / 95%) !important;
    position: absolute;
    top: 1.2px;
    left: 0px;
    width: 26px !important;
    height: 26px !important;
}
input[name=code] {
    width: 54.17px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
input[type="range"] {
    background: linear-gradient(to right, var(--color-1) 0%, var(--color-1) 40%, #fff 50%, #fff 100%);
    border: solid 0px transparent;
    border-radius: 8px;
    height: 10px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
  
input[type="range"]::-webkit-slider-thumb {
    background-color: var(--color-2);
    border: solid 12px var(--color-2);
    border-radius: 0;
        
    height: 24px;
    width: 24px;
    border-radius: 50%;
    -webkit-appearance: none;
}
.progress-bar {
    height: 4px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    overflow: hidden;
  }
  
  .progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0% 50%;
  }
  
  @keyframes indeterminateAnimation {
    0% {
      transform:  translateX(0) scaleX(0);
    }
    40% {
      transform:  translateX(0) scaleX(0.4);
    }
    100% {
      transform:  translateX(100%) scaleX(0.5);
    }
  }