<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/notyf.min.css">
    </head>
    <body>
        <br><br><br><br>
        <img src="../../img/icons/icon.png" style="display:block;margin:0 auto;width:100px;">
        <div class="text-center"><br><br>
            <h3 for="download" class="text-white" id="download-label"></h3>
            <h6 for="download" class="text-gray" id="download-sublabel">Afin de garantir une meilleur prise en charge de Minecraft et de FrazionZ sur Windows,<br/>Nous installons notre moteur Java.</h6><br>
            <progress id="downloadbar"  max="100" value="-1"></progress>
        </div>
        <script src="../../js/notyf.min.js"></script>
        <script>
            var notyf = new Notyf();
            var copyverion = document.getElementById('copyversion');
            copyverion.innerHTML = copyverion.innerHTML.replace('{VERSION_PROD}', require('../../../package.json').version);
        </script>
        <script>
            dirFzLauncherRoot = process.env.APPDATA  + "\\.FrazionzLauncher" || (process.platform == 'darwin' ? process.env.HOME + '/Library/Preferences' : process.env.HOME + "/.local/share") + ".FrazionzLauncher";
            dirFzLauncherDatas = dirFzLauncherRoot + "\\Launcher";

            const Runtime = require('../../js/runtime.js');
            const runtime = new Runtime(dirFzLauncherDatas+"\\runtime");
        </script>
    </body>
</html>