<%- include('./includes/head.ejs') %>
    <%- include('./includes/top.ejs') %>
        <div id="header"></div>
        <div id="modal"></div>
        <div class="body">
            <%- include('./includes/body.ejs') %>
            <div class="sidebar hide">
                <div id="servers"></div>
                <div id="navs">
                </div>
            </div>
            <div class="main w-100"></div>
            <!--<div class="download">
                <div class="card">
                    <div class="card-body">
                        <div id="title"></div>
                        <div id="subtitle"></div>
                        <div id="progress"></div>
                    </div>
                </div>
            </div>-->
        </div>
        <div id="script"></div>
<%- include('./includes/footer.ejs') %>