<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/notyf.min.css">
        <link rel="stylesheet" href="../css/boxicons.min.css">
        <title>FrazionZ Launcher</title>
        <script src="../../node_modules/skinview3d/bundles/skinview3d.bundle.js"></script>
        <script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
        <script src="../js/axios.min.js"></script>
        <script src="../js/feather.min.js"></script>
        <script>
            window.$ = window.jQuery = require('jQuery');
        </script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <div id="modal"></div>
        <div id="top" style="display: none;"></div>
        <div class="main"></div>
        <div id="script"></div>
    </body>
    <div id="footer">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyversion" id="copyversion">© 2022 FrazionZ - <span class="showChangelog">Version {VERSION_PROD}</span></p>
            </div>
            <div class="col-sm-6">
                <p class="credits">Réaliser par RacconFlow - Non affilié à Mojang AB</p>
            </div>
        </div>
    </div>
</html>