<div class="login w-100">
    <div class="login-flex" style="height: calc(100vh - 8em) !important;"">
        <div class="form" id="addAccountForm">
            <div class="form-group">
                <h2 class="pt-30 pb-10 underline">Adresse Mail</h2>
                <input type="text" placeholder="Adresse mail" name="email" id="email">
            </div>
            <div class="form-group pb-20">
                <h2 class="pt-30 pb-10 underline">Mot de passe</h2>
                <input type="password" placeholder="Mot de passe" name="password"  id="password">
            </div>
            <button class="btn addAccountContinue btn-primary w-100">Continuer</button>
        </div>
        <div class="infos w-100">
        </div>
    </div>   
</div>
<script>
    const Login = require('../js/login.js')
    const FZUtils = require('../js/utils.js')
    const login = new Login(document);
    var btn = document.querySelector('addAccountContinue')
    $('.addAccountContinue').on('click', async() => {
        $(this).attr('disabled', 'disabled')
        var form = $('#addAccountForm');
        var userEmail = form.find('#email');
        var userPassword = form.find('#password');
        await login.addAccount(userEmail.val(), userPassword.val());
    });
    /*const profiles = login.loadProfiles();
    if(profiles.length == 0)
        $('#loaderProfiles').remove();
    
    var loadProfiles = new Promise((resolve, reject) => {

        profiles.forEach((element, k, array) => {

            let clones = [];
            if ("content" in document.createElement("template")) {
                // On prépare une ligne pour le tableau
                var template = document.querySelector("#profileCard");

                // On clone la ligne et on l'insère dans le tableau
                var tbody = document.querySelector("#profileCard");
                var clone = document.importNode(template.content, true);
                clone.querySelector(".card").setAttribute("target_user", k);
                var avatar = clone.querySelector("#avatar");
                var username = clone.querySelector('#username_label')
                setTimeout(() => {
                    avatar.querySelector('img').setAttribute('src', 'https://auth.frazionz.net/skins/face.php?u='+element.id)
                }, 1200);
                username.textContent = element.username
                tbody.appendChild(clone);
                clones.push(clone)
            }

            if (k === array.length -1) resolve(clones);
        })
    })

    loadProfiles.then((clones) => {
        $('.profileCardSub').on('click', function() {
            login.auth($(this).attr('target_user'));
        })
    })

    
    const body = document.querySelector("body");
    body.querySelector('#copyversion').innerHTML = body.querySelector('#copyversion').innerHTML.replace('{VERSION_PROD}', require('../../package.json').version);

    $('.profileCardAddSub').on('click', function() {
        var LoginDialog = new require('../js/modals/login.js');
        new LoginDialog();
    })*/
    
    $('.showChangelog').on('click', function() {
        login.showModal(false, 'changelog')
    })
</script>