<div class="rpackd pl-60 pr-60 pb-30">
    <div class="flex justif-between align-center">
        <h2 class="pt-30 pb-10 underline">Crash du jeu</h2>
        <span class="dialog_close"><i class="fa-solid fa-xmark"></i></span>
    </div>
</div>
<script></script>