<div class="apparence">
    <div class="flex direct-column gap-15">
        <div class="alert black-4 skinNotPresent w-100" style="border-radius: 8px;width: 50%;text-align: center;display: none;font-size: 1.2rem;">
            <div class="flex justif-between align-center">
                <div class="column" style="text-align: center;">
                    <i class="fa-solid fa-triangle-exclamation fcolor-2 mr-10"></i> Votre skin actuel n'est pas présent dans la bibliothèque
                </div>
                <div class="column">
                    <a href="#" class="btn btn-primary addSkinCurrentShelf">Ajouter</a>
                </div>
            </div>
        </div>
        <div class="card black-4 w-100 <% if(countSkins >= 10){ %> hide <% } %>">
            <div class="card-body">
                <div class="addSkinLoader hide flex justif-center gap-30 align-center">
                    <div class="column">
                        <span class="addSkin loader-3"></span>
                    </div>
                    <div class="column">
                        <h5>Veuillez patienter</h5>
                    </div>
                </div>
                <div class="forms justif-center flex gap-36 direct-column">
                    <div class="column">
                        <h5>Depuis Mojang</h5>
                        <div class="flex justif-between gap-30 align-center">
                            <div class="column w-100">
                                <input type="text" id="searchSkinInput" name="searchSkinInput" placeholder="Chercher un skin via un pseudo Minecraft premium"/>
                            </div>
                            <div class="column">
                                <button class="searchSkinMojang btn btn-primary">Chercher</button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h5>Depuis un fichier</h5>
                        <div class="flex justif-between gap-30 align-center">
                            <div class="column w-100">
                                <label class="file-upload">
                                <input  type="file"  class="profile-skin custom-file-input"  id="skinInput"  name="skin"  accept=".png"  required />
                                <span>Choisir un fichier</span>
                                </label>
                            </div>
                            <div class="column">
                                <button class="addSkinFileForm btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert black-4 skinNotPresent w-100" style="border-radius: 8px;margin: 0;width: 100%;font-size: 1.2rem;">
            <div class="flex justif-between align-center">
                <div class="column">
                    <div class="flex gap-15 align-center">
                        <div class="icon" style="font-size: 2.2rem;">
                            <i class="fa-solid fa-brush fcolor-2 mr-10"></i>
                        </div>
                        <div class="expl">
                            <h4 class="reset-mp">Bibliothèque de cape</h4> 
                            <h6 class="reset-mp">Un large choix s'offre à vous !</h6>
                        </div>
                    </div> 
                </div>
                <div class="column">
                    <a href="#" class="btn btn-primary viewCapesList">Voir</a>
                </div>
            </div>
        </div>
        <div class="flex gap-15">
            <div class="card black-4 w-100 pd-30">
                <div class="card-body flex gap-36 direct-column">
                    <div class="column">
                        <h2 class="underline">Bibliothèque de skin</h2>
                        <span id="shelfCountSkinsSpan"><%= countSkins %> / 10 - Skins enregistrés dans la bibliothèque</span>
                        <br /><br />
                        <div class="flex gap-30">
                            <template id="skins_list" class="skinList" style="overflow: hidden;">
                                <div class="card skin_item gap-15 black-4" style="border: none;" data-base64="">
                                    <div class="card-body">
                                        <canvas id="skin"></canvas>
                                        <h6 id="skin_name" class="text-center"></h6>
                                        <h6 id="skin_model" style="color: gray;font-size: 0.8rem;" class="text-center"></h6>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card black-4 skinPreview pd-30" style="width: 60%;height:fit-content;">
                <div class="card-body justif-center flex gap-36 direct-column">
                    <input type="text" id="nameSkinInput" name="nameSkinInput" placeholder="Nom du skin" value="" />
                    <div class="flex gap-30 justif-center align-center">
                        <div class="ui radio checkbox checked">
                            <input type="radio" name="typeSkinInput" value="steve" tabindex="0" class="hidden">
                            <label class="text-white">Steve</label>
                        </div>
                        <div class="ui radio checkbox">
                            <input type="radio" name="typeSkinInput" value="alex" tabindex="1" class="hidden">
                            <label class="text-white">Alex</label>
                        </div>
                    </div>
                    <canvas id="skin"></canvas>
                    <input type="file" class="profile-skin custom-file-input hide" id="skinPreviewApplyInput" name="skin" accept=".png" required />
                    <div class="flex gap-15">
                        <div class="column">
                            <button class="deleteSkinPreview btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                        <div class="column  w-100">
                            <button class="updateSkinForm btn btn-primary w-100">Appliquer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var appRoot = require('app-root-path');
    const Appearance = require(path.join(appRoot.path, "/src/assets/js/connected/profile/subpage/appearance.js"))
    var appearance = new Appearance();
</script>