<!DOCTYPE html>
<html lang="fr" class="<%= ((typeof darkMode !== 'undefined') ? darkMode : 'dark') %>">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="asset://css/bootstrap.min.css">
        <link rel="stylesheet" href="asset://css/style.css">
        <link rel="stylesheet" type="text/css" href="asset://css/notyf.min.css">
        <script src="asset://js/jquery.min.js"></script>
        <script>
            window.$ = window.jQuery = require('jQuery');
        </script>
    </head>
    <body>
        <%- include('../includes/top.ejs') %>
        <div class="flex direct-column pl-20 pr-20">
            <h5 class="m-reset">Choix du dossier</h5>
            <h6 class="m-reset">Vous pouvez déterminer l'emplacement où les données de jeu doivent être installées !</h6>
            <div class="flex gap-20 mt-10 align-center">
                <div class="column w-50">
                    <div id="chooseAppDataDirInput">
                        <input disabled type="text" name="chooseAppDataDirInput" value=""  required />
                    </div>
                </div>
                <div class="column">
                    <button class="chooseAppDataDirConfirm btn btn-primary" style="height: 2.8rem;padding: 10px 26px;">Continuer</button>
                </div>
            </div>
        </div>
        <script src="asset://js/notyf.min.js"></script>
        <script>
            const fs = require('fs');
            const path = require('path');
            var appRoot = require('app-root-path');
            const FZUtils = require(path.join(appRoot.path, '/src/assets/js/utils.js'))
            const Store = require('electron-store');
            
            var store = new Store({accessPropertiesByDotNotation: false});
            const { ipcRenderer } = require('electron');
            var defaultPath = path.join(process.env.APPDATA, ".FrazionzLauncher");
            var channelIPC = "appDataDirRequest";

            $('#chooseAppDataDirInput').on('click', function() {
                ipcRenderer.send('openDialogExpFileRequest', {dialog: { defaultPath: process.env.APPDATA, properties: ['openFile', 'openDirectory'] }, channel: channelIPC});
                ipcRenderer.on(channelIPC, (event, data) => {
                    $("input[name='chooseAppDataDirInput']").attr('value', path.join(data.filePaths[0]));
                    ipcRenderer.removeAllListeners('openDialogExpFileRequest')
                    ipcRenderer.removeAllListeners('appDataDirRequest')
                })
            })

            $("input[name='chooseAppDataDirInput']").attr('value', defaultPath)

            $('.chooseAppDataDirConfirm').on('click', function() {
                FZUtils.modifyAppDataDir(undefined, path.join($("input[name='chooseAppDataDirInput']").val()));
            })

        </script>
        <%- include('../includes/script.ejs') %>
    </body>
</html>