<div class="changelog pl-60 pr-60 pb-30">
    <div class="flex justif-between align-center">
        <h2 class="pt-30 pb-10 underline">Quoi de neuf ?</h2>
        <span class="dialog_close"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <span class="loader-3"></span>
    <div id="versions" style="overflow: auto;"></div>
</div>
<script>
    $.get('https://api.frazionz.net/github/launcher', function(response) {
      var loadPnotes = new Promise((resolve, reject) => {
        var versions = response;
        var MarkdownIt = require('markdown-it'),
        md = new MarkdownIt();
        versions.forEach(function(version, key) {
            //if(version.target_commitish == "windows"){
                var bodyVersion = md.render(version.body);
                if(key == 0)
                    $('.changelog').find('#versions').append('<h4 class="text-gray"><i class="fa-solid fa-star"></i> '+version.tag_name+'</h4>'+'<h5>'+bodyVersion+'</h5><br />')
                else
                    $('.changelog').find('#versions').append('<h5 class="text-gray">'+version.tag_name+'</h5>'+'<h6>'+bodyVersion+'</h6><br />')
            //}
        });
        resolve();
      })
      loadPnotes.then(() => {
        $('.loader-3').addClass('hide')
      })
    })
</script>