<div class="capesShelf pl-60 pr-60 pb-30">
    <div class="flex justif-between align-center">
      <h2 class="pt-30 pb-10 underline">Modification de la cape</h2>
      <span class="dialog_close"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <div class="flex gap-15">
      <div class="column">
        <canvas id="skinCape"></canvas>
      </div>
      <div class="capes"></div>
    </div>
  </div>
  <script>

    const EditCapeModal = require(path.join(appRoot.path, "/src/assets/js/modals/editcape.js"))
    var editCapeModal = new EditCapeModal();
      
  </script>
  