<div id="messDialog" class="ui fzmodal w-fcontent">
    <div class="content w-fcontent">
      <div class="description w-fcontent">
        <div class="ui header"><%= message %></div>
      </div>
    </div>
  </div>
  