<div id="patchnoteAnnounce" class="ui fzmodal w-fcontent">
    <div class="header">Patch Notes - FrazionZ Launcher - Version <%= pna.version %></div>
    <div class="content"></div>
</div>
<script>
    $.get('https://api.frazionz.net/github/launcher', function(response) {
      var loadPnotes = new Promise((resolve, reject) => {
        var versions = response;
        var MarkdownIt = require('markdown-it'),
        md = new MarkdownIt();
        let version = versions[0];
        $('#patchnoteAnnounce').find('.content').append('<h5 class="text-gray reset-mp"><i class="fa-solid fa-star"></i> '+version.tag_name+'</h5>'+'<h6 class="reset-mp">'+md.render(version.body)+'</h6>')
        resolve();
      })
      loadPnotes.then(() => {
        $('.loader-3').addClass('hide')
      })
    })
</script>
  