<div id="screenDetails" class="ui fzmodal imageDetails">
    <div class="closed" onclick="layoutClass.closeModal()">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="content" style="background: url('data:image/png;base64,<%= picture %>');"></div>
    <div class="actions">
        <div class="flex justif-end gap-15">
            <div class="deny deleteScreen btn btn-danger"><i class="fa-solid fa-trash"></i></div>
            <div class="positive btn btn-primary"><i class="fa-solid fa-copy"></i></div>
        </div>
    </div>
  </div>
  