<div id="switchBranchServer" class="ui fzmodal">
  <div class="header">Changement de version - <%= server_name %></div>
  <div class="content">
    <div class="description">
      <div class="ui header">Vous êtes sur le point de changer de version.<br />Veuillez noter que vous pouvez à tout moment changer de version sans impacte sur vos données.</div>
    </div>
  </div>
  <div class="actions">
    <div class="flex justif-end gap-15">
        <div class="deny btn">Nope</div>
        <div class="positive btn btn-primary">
            Oui, changer
        </div>
    </div>
  </div>
</div>
