    </body>
    <div id="footer">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyversion" id="copyversion">© 2022 FrazionZ - <span class="showChangelog">Version <%= version %></span></p>
            </div>
            <div class="col-sm-6">
                <p class="credits">Réaliser par RacconFlow - Non affilié à Mojang AB</p>
            </div>
        </div>
    </div>
    <%- include('../includes/script.ejs') %>
</html>