<script>

    var Messageging = require('../js/modals/messaging.js')
    var Header = require('../js/header.js')
    var header = new Header(true);
    header.initSessionSpan("header");
    var servers = header.getServersList();

    const body = document.querySelector("body"),
        sidebar = body.querySelector(".sidebar"),
        toggle = body.querySelector(".toggle"),
        top = body.querySelector("#top"),
        content = body.querySelector(".main"),
        footer = body.querySelector("#footer");

    $(footer).hide()

    var profile = header.store.get('session');
    var linkCurrent = "#home";

    /*body.querySelector('.avatar').src="https://auth.frazionz.net/skins/face.php?u="+profile.id;
    body.querySelector('.sessionProfilRank').style.backgroundColor = profile.role.color;

    servers.forEach((item, key) => {
        var serverNav =
          '<li class="nav" id="nav_server_'+key+'" data-bs-toggle="tooltip" data-bs-placement="right" title="'+item.name+'">' +
                '<a href="#server" data-server-id="' + key + '">' +
                    '<img src="' + item.urlLogo + '">' +
                    '<span class="text nav-text">' + item.name + '</span>' +
                '</a>'
            '</li>';
        $('.menu-link.servers').append(serverNav);
    })*/

    $('.logout').on('click', function() {
        $('.sidebar').addClass('hide');
        $('.main').removeClass('connected');
        header.logout()
    });


</script>