<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="asset://css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="asset://css/style.css">
        <link rel="stylesheet" type="text/css" href="asset://css/notyf.min.css">
        <link rel="stylesheet" type="text/css" href="asset://css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="asset://css/fonticon.min.css">
        <link rel="stylesheet" href="asset://css/checkbox.min.css">
        <link rel="stylesheet" href="asset://css/boxicons.min.css">
        <title>FrazionZ Launcher</title>
        <script src="asset://js/jquery.min.js"></script>
        <script src="asset://js/skinview3d.bundle.js"></script>
        <script src="asset://js/feather.min.js"></script>
        <script src="asset://js/xdjxvujz.js"></script>
        <script>
            window.$ = window.jQuery = require('jQuery');
            const { ipcRenderer } = require('electron');
            var downloadsList = [];
        </script>
        <script src="asset://js/components/checkbox.min.js"></script>
        <script src="asset://js/components/pagination.js"></script>
        <script src="asset://js/components/popper.min.js"></script>
        <script src="asset://js/components/bootstrap.min.js"></script>
    </head>
    <body>