<div class="modal fade" id="webview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow: hidden;"> 
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="overflow: hidden;padding: 0px;">
      <div class="modal-body" style="overflow: hidden;padding: 0px;">
        <webview id="foo" src="" style="width:100% !important;height:600px;"></webview>
      </div>
    </div>
  </div>
</div>
<div class="modal fade"  id="installjava" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow: hidden;"> 
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #212121;">
      <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 20px;" class="modal-body">
        <br><h5 class="text-center text-white">Installation de Java</h3>
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        <span class="text-white" style="text-align: center;font-size: 0.65em;color: #b9b9b9 !important;margin: 20px 80px;">
          Java n'ayant pas était détecté sur votre système, le launcher télécharge une version adaptée à votre système afin de pouvoir lancer Minecraft correctement.
          Une fois installé, le launcher est susceptible de devoir redémarrer.
        </span>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="profilemenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow: hidden;"> 
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="background-color: #212121;">
      <div class="modal-body">
        <h3 class="text-center">{SESSION_PROFIL_USERNAME}</h3>
          <ul>
            <li>
                <button class="btn btn-primary icon dialog-connected" data-action="#profileWebsite">
                  <i class='bx bx-link-external'></i>
                  <span class="text nav-text">
                    Gérer mon compte
                  </span>
                </button>
            </li>
            <li>
              <button class="btn btn-primary icon dialog-connected" data-action="#about">
                <i class='bx bx-info-square' ></i>
                <span class="text nav-text">
                  À propos
                </span>
              </button>
            </li>
            <li>
                <button class="btn btn-primary icon dialog-connected" data-action="#logout">
                    <i class='bx bx-log-out-circle' ></i>
                    <span class="text nav-text">
                        Déconnexion
                    </span>
                </button>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal fade"  id="crashdialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow: hidden;"> 
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background-color: #212121;">
      <div class="modal-body">
        <br><br>
        <h3 class="text-center">Le jeu s'est fermé inopinément</h3>
        <h5 class="text-center text-white" style="padding: 2em;">
          Ce crash a pû se produire car l'un ou plusieurs fichiers/dossiers du jeu sont corrompus ou inexistant.
          Nous vous conseillons de fermer cette boîte de dialogue, d'aller dans l'onglet Paramètres de la fenêtre de serveur et de cliquer sur "Réparer le dossier". 
          Si le problème persiste, merci de le signaler à l'équipe du staff
        </h5>
        <a href="#" style="display: block;" class="btn btn-primary btn-block btn-crash-report">Ouvrir le dossier de Crash report</a>
        <br><br>
      </div>
    </div>
  </div>
</div>
<script>

const webview = document.getElementById('foo')

function dialogWebViewLoadURL(src){
  webview.src = src
}

function getWebview(){
  return webview;
}

function addCallbackFinishLoad(callback){
  webview.addEventListener("dom-ready", () => {
    callback()
  });
}

</script>