<li class="parent-menu-link">
    <a href="#downloads" class="menu-link">
        <i class="bx bxs-download" style="font-size: 36px;"></i>         
        <span><%= FZUtils.getLangKey("sidebar.navs.downloads") %></span> <span class="badge bg-secondary dl downloads__countDl"></span>
    </a>
</li>
<li class="parent-menu-link">
    <a href="#settings" class="menu-link">
        <i class='bx bxs-cog' style="font-size: 36px;"></i>               
        <span><%= FZUtils.getLangKey("sidebar.navs.settings") %></span>
    </a>
</li>
<li class="parent-menu-link">
    <a href="#profile" class="menu-link">
        <img id="nav_menu_avatar" width="36" height="36" class="avatar nav animate__infinite  animate__wobble" src="https://auth.frazionz.net/skins/face.php?u=<%= session.id %>">
        <span class="text nav-text profile__data" id="nav_menu_username" data-target="username"><%= session.username %></span>
    </a>
</li>