<div class="sidebar minimize">
    <div class="state-sidebar"><i class="fa-solid fa-caret-left"></i></div>
    <div id="servers"></div>
    <div id="navs">
        <%- include('./nav.ejs') %>
    </div>
</div>
<div class="taskOverlay">
    <span class="nothing">Aucun téléchargements en cours</span>
    <div class="card dl-items black-4 hide" id="uuidDl">
        <div class="card-body flex gap-15 direct-column justif-between">
            <div class="left flex gap-30 align-center">
                <div class="icon">
                    <span class="percent">0%</span>
                </div>
                <div class="infos flex direct-column w-100">
                    <div class="title  w-100">Chargement des données</div>
                    <div class="subtitle  w-100">veuillez patienter</div>
                </div>
            </div>
            <div class="progress  w-100">
                <div class="indicator" id="downloadbar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
</div>