<div class="sidebar">
    <div class="state-sidebar"><i class="fa-solid fa-caret-left"></i></div>
    <div id="servers"></div>
    <div id="navs">
        <%- include('./nav.ejs') %>
    </div>
</div>