<div class="title_bar" style="-webkit-app-region: drag;">
    <div class="icon">
        <img src="asset://img/<%= ((typeof darkMode !== 'undefined') ? darkMode : 'dark') %>/icons/top_fz.svg" alt="">        
        <h4>Launcher <span class="beta">BETA</span></h4>        
    </div>
    <div class="actions">
        <a href="#" class="window_reduce">
            <img src="asset://img/<%= ((typeof darkMode !== 'undefined') ? darkMode : 'dark') %>/frame/reduce.svg" alt="">                       
        </a>
        <a href="#" class="window_maximize hide">
            <img src="asset://img/<%= ((typeof darkMode !== 'undefined') ? darkMode : 'dark') %>/frame/maximize_off.svg" alt="">                       
        </a>
        <a href="#" class="window_close">
            <img src="asset://img/<%= ((typeof darkMode !== 'undefined') ? darkMode : 'dark') %>/frame/close.svg" alt="">                        
        </a>
    </div>
</div>