<%- include("../includes/head.ejs") %>
<div class="logging">
    <img width="120" src="asset://img/icons/icon.png">
    <div class="flex gap-20 direct-column pl-60 pr-60 align-center justif-center">
        <div class="column">
            <h2>Adresse email non vérifiée !</h2>
        </div>
        <div class="column text-center">
            <h6>Pour utiliser l'intégralité de nos services, veuillez confirmer votre compte via le mail reçu sur votre boîte de réception.<br />Pensez à vérifier vos spams et de cliquer sur le bouton renvoyer via votre espace compte.</h6>
        </div>
        <div class="column flex gap-15">
            <a href="#" class="btn btn-primary continueAuth">Reconnexion</a>
        </div>
    </div>
</div>
<script>
    const path = require('path')
    var appRoot = require('app-root-path');
    const FZUtils = require(path.join(appRoot.path, '/src/assets/js/utils.js'))
    $('.continueAuth').on('click', () => {
        return FZUtils.loadURL('/logging', [{type: "forceAutolog"}])
    })
</script>