<%- include("../includes/head.ejs") %>
<div class="logging">
    <img width="120" src="asset://img/icons/icon.png">
    <div class="flex gap-20 direct-column pl-60 pr-60 align-center justif-center">
        <div class="column">
            <h2>Services indisponible</h2>
        </div>
        <div class="column text-center">
            <h6>Nous n'arrivons pas à joindre nos services, le chargement du luncher est interrompu.<br />Vérifier que vous êtes bien connecté à internet ou que nos services sont actifs<br />via notre discord ou directement sur frazionz.net</h6>
            <br /><br /><h4><%= FZUtils.getLangKey("logging.session.nointernet.question") %></h4>
        </div>
        <div class="column flex gap-15">
            <a href="#" class="btn btn-default closeApp"><%= FZUtils.getLangKey("logging.session.nointernet.btn.close") %></a>
            <a href="#" class="btn btn-primary continueAuth"><%= FZUtils.getLangKey("logging.session.nointernet.btn.continue") %></a>
        </div>
    </div>
</div>
<script>
    const path = require('path')
    var appRoot = require('app-root-path');
    $('.continueAuth').on('click', () => {
        ipcRenderer.send('relaunchApp')
    })
    $('.closeApp').on('click', () => {
        ipcRenderer.send('closeApp');
    })
</script>