<%- include("../includes/head.ejs") %>
<div class="logging">
    <img width="120" src="asset://img/icons/icon.png">
    <div class="flex gap-20 direct-column pl-60 pr-60 align-center justif-center">
        <div class="column">
            <h2>Une petite minute !</h2>
        </div>
        <div class="column text-center">
            <h6>Nous avons détecté qu'une session est déjà ouverte sur notre serveur. <p/>Si vous continuez, l'instance contenant la session deviendra obsolète<p/>et ne pourras plus rejoindre de nouveau le serveur.</h6>
            <br /><br /><h4>Souhaitez-vous continuer ?</h4>
        </div>
        <div class="column flex gap-15">
            <a href="#" class="btn btn-primary continueAuth">Oui, je continue</a>
            <a href="#" class="btn btn-default closeApp">Non, je ferme le launcher</a>
        </div>
    </div>
</div>
<script>
    const path = require('path')
    var appRoot = require('app-root-path');
    const FZUtils = require(path.join(appRoot.path, '/src/assets/js/utils.js'))
    $('.continueAuth').on('click', () => {
        return FZUtils.loadURL('/logging', [{type: "forceAutolog"}])
    })
    $('.closeApp').on('click', () => {
        ipcRenderer.send('closeApp');
    })
</script>